.song-container {
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  img {
    width: 20%;
    border-radius: 50%;
  }
}
h2,h4 {
  color:white;
}

@media screen and (max-width: 768px) {
  img {
    width: 60%;
  }
}
